<div class="container">

  <img src="/assets/img/burger.png" class="img-fluid rounded mx-auto d-block" alt="Burger Picture">

  <p id="instructions" class="text-center">Add to your collection of burgers to be eaten!</p>

  <div class="container">
    <div class="row">
      <div class="col-6">
          <h5 class="text-center">Burgers to Eat:</h5>

          <ol>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
              {{/unless}}
            {{/each}}
          </ol>
      </div>

      <div class="col-6">
          <h5 class="text-center">Burgers Ate:</h5>
            <ol>
              {{#each burgers}}
                {{#if devoured}}
                  {{> burgers/burger-block devoured=false}}
                {{/if}}
              {{/each}}
            </ol>
      </div>

    </div>
  </div>

  <div class="container">
    <div>
        <h5>Add a Burger</h5>

        <form class="create-form">
          <div id="burger-name-section" class="form-group">
            <label for="ca">Burger Name:</label>
            <input class="form-control" type="text" id="ca" name="name">
          </div>

          <div class="form-group">
            <label for="devoured">Devoured:</label><br>
            <input type="radio" name="devoured" value="1" checked> Ate the burger<br>
            <input type="radio" name="devoured" value="0"> Need to eat the burger
          </div>

          <button type="submit">Add Burger</button>

          
        </form>
    </div>
  </div>
</div>
